nav {
  width: 100%;
  padding-inline: 5%;
}
.logo {
  margin-left: -1em;
  font-size: calc(1.2 * var(--menu-font-size));
}
.links {
  display: flex;
  justify-content: space-between;
}
.link {
  list-style: none;
  font-size: var(--menu-font-size);
}
.text {
  font-size: calc(0.4 * var(--gameMenu-font-size));
  text-align: right;
}

a {
  text-decoration: none;
  color: orange;
  transition: 0.3s;
}
a > svg {
  font-size: calc(0.6 * var(--menu-font-size));
}

li a:hover {
  color: rgb(170, 110, 0);
  transition: 0.3s;
}
