nav {
  padding-right: 5%;
}
.logo {
  font-size: calc(1.2 * var(--menu-font-size));
}
.text {
  font-size: calc(0.4 * var(--gameMenu-font-size));
  text-align: right;
}

.links {
  display: flex;
  justify-content: space-between;
}
.link {
  list-style: none;
  font-size: var(--menu-font-size);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: 0.3s;
}

li a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
