.button {
  color: var(--main-color);
  font-size: var(--menu-font-size);
  transition: 0.6s ease-in;
}
.button:hover {
  transition: 0.9s;
}
.button > * {
  transition: 0.5s;
}
.button > *:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.animate {
  animation: appear 1s ease-in backwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
