.board {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  padding: 2em;
}

.words {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
  gap: 0.33em;
}
