section {
  width: 100vw;
  height: 100vh;
  padding: 5% 2%;
}
.board {
  background-color: aquamarine;
  width: 100%;
  height: 70%;
  padding: 1%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-around;
  column-gap: 1%;
  overflow: hidden;
}
.word {
  color: gray;
  height: fit-content;
  font-size: clamp(2.5em, 2vh, 20px);
}
.player_input {
  opacity: 0;
}
