.word {
  height: fit-content;
  font-size: var(--text-font-size);
  color: var(--text-color);
  user-select: none;
}
.letter {
  display: inline-block;
  transition: all 0.1s;
  text-shadow: 1px 1px black;
}
.correct {
  color: var(--text-correct-color);
  transition: all 0.1s;
}
.wrong {
  color: var(--text-wrong-color);
  transition: all 0.3s;
}
.wrong::after {
  content: "";
  width: 1.2ch;
  height: 0.25%;
  background-color: var(--text-wrong-color);
  display: block;
  position: fixed;
  z-index: -1;
  animation: start 0.3s;
}

@keyframes start {
  from {
    width: 0ch;
  }
}
