.panel {
  color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.panel > h2 {
  grid-column: span 2;
  font-size: calc(2 * var(--gameMenu-font-size));
}

.section {
  font-size: var(--gameMenu-font-size);
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}
.section > h3 {
  font-size: calc(1.2 * var(--gameMenu-font-size));
}
.section > p {
  color: var(--text-color);
  font-size: calc(0.9 * var(--gameMenu-font-size));
}
.setting {
  color: var(--text-color);
}
.selected {
  color: var(--main-color);
}

@media screen and (max-width: 600px) {
  .panel {
    grid-template-columns: repeat(1, 1fr);
  }
  .panel > h2 {
    grid-column: 1;
  }
}
