.modal {
  position: absolute;
  inset: 0;
  display: grid;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.15rem);
  text-align: center;
  z-index: 999;
}

.hide {
  z-index: -999;
  background: none;
  visibility: hidden;
}

.pause_screen {
  font-size: clamp(40px, 3em, 4vw);
}
