.statContainer {
  min-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-flow: column nowrap;
  margin: 1%;
}
.stat {
  margin: 2%;
  white-space: nowrap;
  font-size: clamp(12px, 2em, 3vh);
  text-shadow: 1px 1px black;
}
