nav {
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--text-color);
  font-size: calc(1.2 * var(--menu-font-size));
}
.text {
  color: var(--main-color);
  font-size: calc(0.4 * var(--gameMenu-font-size));
  text-align: right;
}
.link {
  font-size: calc(1.1 * var(--menu-font-size));
}
a:hover {
  opacity: 0.7;
}
