footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  margin: 1%;
  font-size: var(--gameMenu-font-size);
  transition: 0.3s;
}
.link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
