footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  margin: 1%;
  font-size: clamp(16px, 2em, 2vh);
  transition: 0.3;
}
.link:hover {
  opacity: 0.8;
  transition: 0.3;
}
