footer {
  width: 100%;
  margin-bottom: 0;
  padding-inline: 6%;
}

.group {
  width: 100%;
  display: flex;
  justify-content: center;
}
.link {
  margin-inline: 4%;
  font-size: calc(0.7 * var(--gameMenu-font-size));
  transition: 0.3s;
  white-space: nowrap;
}
.link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
