.container {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--text-color);
}
.container > h3 {
  grid-column: span 2;
}
.container > h3 {
  color: var(--main-color);
}

.selected {
  color: var(--main-color);
}
