.container {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  width: 100%;
}
.button {
  width: 2.5em;
  height: 2.5em;
  transition: 0.3s ease-in;
  text-shadow: 1px 1px white;
}
.button:hover {
  opacity: 0.5;
  color: var(--secondary-color);
  transition: 0.3s ease-in;
}
