.container {
  display: grid;
  grid-auto-flow: column;
  min-height: 10vh;
  margin-top: 5%;
  color: var(--secondary-color);
}

.animate {
  animation: appear 0.3s ease-in 1.4s backwards;
}
@keyframes appear {
  from {
    opacity: 0;
  }
}
