.container {
  min-height: 10vh;
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
.container > button {
  width: 33%;
}
.button {
  font-size: calc(2 * var(--gameMenu-font-size));
  color: var(--teritiary-color);
  transition: 0.3s ease-in;
}
.button:hover {
  opacity: 0.5;
  color: var(--secondary-color);
  transition: 0.3s ease-in;
}
