.container {
  min-height: 10vh;
  width: 100%;
  margin-top: 5%;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
}
.container > button {
  width: 33%;
}
.button {
  font-size: calc(2 * var(--gameMenu-font-size));
  color: var(--secondary-color);
  transition: 0.3s ease-in;
}
.animate {
  animation: appear 0.8s ease-in 1.4s backwards;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
