@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  /*variables*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #222222;
  color: orange;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 80vh;
  padding: 5% 2%;
}
#root {
  width: 100vw;
  height: 100vh;
}
.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.card {
  width: 85%;
  height: 70%;
  margin: auto;
  padding: 5%;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.card > p {
  width: 60%;
  font-size: clamp(32px, 1em, 5vh);
}
