@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --main-color: #2e0249;
  --secondary-color: #570a57;
  --tertiary-color: #fa7d09;
  --background-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--tertiary-color);
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 80vh;
  padding: 5% 2%;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  transition: all 0.3s;
}

.card {
  max-width: 90vw;
  padding: 1%;
  background-color: var(--background-color);
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 0.5em;
}
