.container {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  font-size: var(--gameMenu-font-size);
}

.hint {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .group {
    gap: 1vw;
    width: auto;
  }
  .start_hint {
    display: none;
  }
}
