.container {
  padding: 1%;
  color: var(--main-color);
  font-size: var(--gameMenu-font-size);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.settings-button {
  font-size: var(--gameMenu-font-size);
}
@media screen and (max-width: 500px) {
  .group {
    gap: 1vw;
    width: auto;
  }
  .start_hint {
    display: none;
  }
}
