.button {
  padding: 1.5%;
  margin: 1%;

  font-size: calc(0.8 * var(--text-font-size));
  color: var(--text-color);
  border-radius: 0.5em;
}
.button:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--main-color);
}
